.practiceContainer{
  background-color: var(--primary-color);
  padding: 2rem 10rem;
  margin-bottom: 2rem;
}
.practiceTitle{
  font-size: 3.3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20%) ;
  gap: 1rem;
}
/* .gridContainer div{
  border: 1px solid white;
} */
.pictures{
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  position: relative;
  opacity: 80%;
}
.item1{
  grid-column: 1/3;
}
.item4{
  grid-column: 2/4;
}
.item5{
  grid-column: 1/3;
}
.item6{
}
.subText{
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  transition: all 0.4s;
}
.practiceImg{
  width: 100%;
  height: 100%;
  opacity: 60%;
  transition: all 0.4s;
}
.practiceImg:hover{
  cursor: pointer;
  transform: scale(1.1);
}
