@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

:root{
  --secondary-color: hsl(43, 73%, 59%);
  --primary-color: #1d1d1d;
 --black-color:#121212;
  --white-color:#fff;
}

*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}
html,
body{
height: 100%;
}
body {
  background-color: var(--black-color);
  color: var(--white-color);
line-height: 1.5;
-webkit-font-smoothing: 'antialiased';
  font-family: "Poppins", sans-serif;

}
a{
  text-decoration: none;
}